.estado {
    display: flex;
  }
  
  .cuadro {
    width: 20px;
    height: 20px;
  }
  
  .activo {
    background-color: rgb(64, 196, 255);
    color: white;
    top: 0;
  }
  
  .inactivo {
    background-color: red;
    color: white;
    top: 50px;
  }
  